apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: digital-kitchen-hpa
  namespace: digital-kitchen
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: digital-kitchen
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
